@import 'flatpickr/dist/flatpickr.min.css';

@import 'izitoast/dist/css/iziToast.min.css';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.timer {
  display: flex;
  column-gap: 24px;
  max-width: fit-content;
  font-size: 40px;
  margin-left: 156px;
  margin-top: 32px;
}

#datetime-picker {
  margin-left: 156px;
  margin-top: 36px;
  outline: transparent;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 36px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  transition: border linear 250ms;
}

#datetime-picker:hover {
  border: 1px solid #000;
}
#datetime-picker:active {
  border: 1px solid #4e75ff;
}
#datetime-picker :disabled {
  border: 1px solid #808080;
  background-color: #fafafa;
}

.btnStart {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.04em;
  background: #4e75ff;
  color: #fff;
  border: none;
}

.btnStart:hover {
  background-color: #6c8cff;
  color: #fff;
}

.btnStart:disabled {
  background: #cfcfcf;
  color: #989898;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 55px;
}

.field:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: 0;
  transform: translateX(calc(100% + 5px));
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.flatpickr-calendar {
  border-radius: 8px;
  padding: 16px;
  width: 291px;
  background: #f5f5f5;
}

.flatpickr-innerContainer {
  width: 100%;
}

.flatpickr-days {
  width: 100%;
}

.dayContainer {
  width: 100%;
  min-width: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #666;
}

.flatpickr-months .flatpickr-month {
  height: 20px;
  margin-bottom: 15px;
}

.flatpickr-current-month {
  padding: 0%;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #333;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  padding-left: 21px;
  padding-right: 23px;
  padding-top: 15px;
}

.flatpickr-weekdaycontainer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
}

.flatpickr-time input {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #333;
}
.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
  font-weight: 600;
}
